* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*TOP*/

.top {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
}
.top a {
    text-decoration: none;
    color: #000;
    margin-left: 25px;
}
.top a:hover {
    text-decoration: underline;
}

.appicon img {
    width: 25px;
}

.appicon:hover {
    opacity: 0.6;
    
}
.sign-in-btn {
    color: #fff;
    background-color: #1a73e8;
    margin-left: 25px;
    height: 35px;
    width: 90px;
    border-radius: 8px;
    border: none;
}

.sign-in-btn:hover {
    background-color: #4285f4;
    cursor: pointer;
}

/* MAIN*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-logo {
    margin-bottom: 30px;
}

.search {
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 30px;
}

.search:hover {
    box-shadow: 0 0 10px lightgray;
}

.search-icon {
    width: 15px;
    opacity: 0.5;
    margin-left: 15px;
}

.search-box {
    width: 430px;
    height: 25px;
    margin-left: 15px;
    border: none;
    outline: none;
    font-size: 20px;
}

.icon-1 img {
    width: 15px;
    margin-left: 50px;

}
.icon-2 img {
    width: 27px;
    margin-left: 20px;
}
.buttons {
    margin-bottom: 30px;
}

.btn {
    width: 120px;
    height: 35px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin-left: 10px;
}

btn:hover {
    box-shadow: 0 0 3px gray;
    cursor: pointer;
}

p {
    background-color: #f8f9fa;
    font-size: 12px;
    color: #3c4043;
}
p a {
    text-decoration: none;
}

/* BOTTOM*/

.bottom {
    background: #f2f2f2;

}

.country {
    padding: 20px 25px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

.foot-left {
    list-style-type: none;
    
}

.foot-left li {
    float:left ;
    margin-left: 20px;
}

.foot-right {
    list-style-type: none;
}

.foot-right li {
    float:left ;
    margin-right: 30px;
}
.bottom a {
    text-decoration: none;
    color: #70757a;
    
}

.bottom a:hover {
    text-decoration: underline;
    
}

@media (max-width:800px) {
    .foot{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 30px;
        font-size: 12px;
    }
}